@mixin woshiname($w){
    font-weight: bold;
    text-align: $w;
}
.box{
    width: 200px;
    height: 200px;
    background: rgb(105, 236, 29);
}
.bk-img{
    color: red;
    position: absolute;
    top: 100px;
    width: 400px;
    height: 400px;
    background: url('../img/jianxian.jpg') no-repeat;    //cao尼玛  死图片不出来
}